head
  title Change Admin Password
  meta(charset="utf-8")
  meta(name="viewport",content="width=device-width,initial-scale=1")
  link(href="/public/stylesheets/adminForms.css", rel="stylesheet")
body
  form(method="POST" action='')
    input#username(type="hidden" placeholder="Username" required="true" name="userid" hidden="true" value=user._id)
    label(for="password") New Password for #{user.username}:
    input#password(type="password", required="true" name="password" minlength="8")
    label(for="confirm") Confirm Password:
    input#confirm(type="password", required="true" name="confirm" minlength="8")
    button(type="submit") Update

    if errors
      ul
        for error in errors
          li=error.msg
