form(method="POST" action='')
  input#username(type="text" placeholder="Username" required="true" name="userid" hidden="true" value=user._id)
  label(for="password") New Password for #{user.username}:
  input#password(type="password", required="true" name="password" minlength="8")
  label(for="confirm") Confirm Password:
  input#confirm(type="password", required="true" name="confirm" minlength="8")
  button(type="submit") Update
  
  if errors
    ul
      for error in errors
        li=error.msg
