//- Required args
  title: Title of tab

doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width,initial-scale=1")
    link(href="/stylesheets/commonStyle.css", rel="stylesheet")

    block headContent
  body
    header
      div#titleBanner
        a#logoLink(href="/")
          picture
            source(media="(max-width: 599px)",srcset="/assets/logo-compact.svg")
            source(media="(min-width: 600px)",srcset="/assets/logo.svg")
            img#logoImg(src="/assets/logo.svg")

      nav
        ul
          li
            a(href="/") Home
      div#searchDiv
        form(action="/posts/searchPage",method="GET")
          input(type="search",placeholder="Search for posts",name="q")

    block bodyContent











