@font-face {
  font-family: genericons-neue;
  src: url('/fonts/Genericons-Neue.woff2');
}

.mybutton{
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.4em;
    border: 1px solid #0d6efd;
    border-radius: 0.4em;
    margin: 0.3em;
}

.mybutton:hover,
.mybutton:focus{
    color: #0d6efd;
    background-color: white;
}

.mybutton:is(.postListEdit,.postListDelete) a{
    padding: 0.2em;
    color: inherit;
}

/* ======================================== */

#welcomeBanner{
    display: flex;
    align-items: center;
}

#welcomeBanner h1{
    flex: 1;
}

#welcomeBannerAdminName{
    color: #0d6efd;
}

#createPostBtn{
    padding: 0.75em;
}

/* ======================================== */

#searchField{
    appearance: none;
    border: none;
    font-size: 1.1rem;
    padding-left: 0.5em;
    
    background-color: #ddd;
    border-radius: 1em;
    height: 2.3em;
    width: 40%;
    display: block;
    margin: auto;
}


#postList{
    padding: 0;
    margin: 1em 0;
}

#postList li{
    display: flex;
}

#postList li div{
    display: inline-block;
    padding: 0.2em;
    margin: 0.2em;
}

#postList li a{
    text-decoration: none;
    font-weight: bold;
}


#postList li a:hover{
    text-decoration: underline;
}

.postListTitle{
    flex: 3;
}

.postListAuthor,
.postListLastEdited{
    flex: 1;
}

.postListEdit::before{
    font-family: genericons-neue;
    content: "\f411";
    
}

.postListDelete::before{
    font-family: genericons-neue;
    content: "\f407";
    
}

/* ======================================== */

#accManage li{
    margin: 1em;
    list-style-type: none;
}

